$primary: #8319caf9;
$secondary: #a492e3;

@import '~bootstrap/scss/bootstrap';

.book-cover {
    width: 250px; 
    height: auto; 
}

.form-title {
    color: $indigo-800;
}
 
.custom-input-border .form-control {
    border-color: $indigo-200;
}

.custom-form-bk {
    background-color: $gray-200;
}

.custom-navbar {
    background-color: #a392e376;
}

.custom-label {
    color: $indigo-700;
  }

